<div class="jumbotron">
  <div class="bruce">



  </div>
</div>

<% if @videos.any? %>
  <div class="container" id="videopool">

    <h2>Which Fight is King?</h2>

    <div id="player-wrapper"></div>

    <% @videos.in_groups_of(3) do |group| %>
      <div class="row ">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-xs-6 col-md-3">

                <div ="preview">
                  <%= link_to video.link, :target => "_blank" do %>
                  <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview img-responsive', :"data-uid" => video.uid %> <% end %>
                </div>

                <div class="caption">
                  <h5><%= video.title %></h5>
                  <p class="captP">Uploaded by: <b><%= video.author %></b></p>
                  <button type="button" class="btn btn-default" id="glyphi" aria-label="Left Align">
                    <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= video.likes %>
                  </button>
                  <button type="button" class="btn btn-default" id="glyphi" aria-label="Left Align">

                  <span class="glyphicon glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <%= video.dislikes %>
                  </button>
                </div>

            </div>
            <div style="clear:right;"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
