<!DOCTYPE html>
<html>
<head>
  <style>
  div.row img{width:100%;}
  .log_head{background:#5ed6df;width:100%; color:white; padding:10px;border-bottom:3px solid orange;  }
  .container{width:800px; margin:0 auto;}
  .video{width:200px;display:inline-block;border:1px solid #ccc;}
  .right{border-bottom:2px solid orange;padding-left:20px;}
  #logout{color: red; border:0; background:none;}
  .container>h1 {font-size: 30pt; font-family: helveticaNeue;}
  .container>p {font-size: 15pt!important;}
  .homepage_btn {margin-top:0;transition:margin-top .5s;}
  .homepage_btn:hover {margin-top:-10px;}
  </style>


  <title>Fighta</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button type="button" class="notice" data-dismiss="alert">&times;</button>
      <%= value %>
    </div>
  <% end %>
</div>
<%= render 'shared/signout' %>
<%= yield %>
<footer>

</footer>

</body>
</html>
